header.header
  .header__container
    .header__logo
      a(href=routes.home)
        i.fab.fa-youtube
    .nav
      ul.nav__inner
        li.nav__list
          a.nav__link(href=routes.login) Login
        li.nav__list
          a.nav__link(href=routes.logout) Logout