header.header
  .container
    .logo
      a(href=routes.home)
        i.fab.fa-youtube
    .search
      form(action=routes.search, method="get")
        input(type="text", name="term", placeholder="Search...")
    .nav
      ul.nav__inner
        li.nav__list
          a.nav__link(href=routes.login) Login
        li.nav__list
          a.nav__link(href=routes.logout) Logout