.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  form {
    max-width: 32rem;
    width: 100%;  
    margin-bottom: 4rem;
    input {
      display: block;
      width: 100%;
      padding: 1rem;
      &:not(:last-child) {
        margin-bottom: 2.5rem;
      }
      &[type=file] {
        line-height: 1;
        background-color: $white;
        font-size: 1.2rem;
      }
    }
    input[type="submit"] {
      background-color: $blue;
      color: $white;
      line-height: 1;
    }
    textarea {
      width: 100%;
      min-height: 15rem;
      margin-bottom: 2.5rem;
    }
  }
  .form-container__link {
    display: block;
    max-width: 32rem;
    width: 100%;
    button {
      width: 100%;
    }
    &.form-container__link--delete {
      button {
        background-color: $dark-red;
        color: $white;
      }
    }
    
  }
}