.header {
  background-color: $red;
  width: 100%;
  height: 5rem;
  margin-bottom: 5rem;
  .header__inner {
    display: grid;
    grid-template-columns: 22rem auto 22rem;
    .logo {
      display: flex;
      height: 5rem;
      align-items: center;
      .fa-youtube {
        color: $white;
        font-size: 3.5rem;
      }
    }
    .search {
      input {
        box-shadow: none;
        margin: 0.5rem auto;
      }
    }
    .nav {
      .nav__list {
        display: flex;
        place-content: flex-end;
        .nav__item {
          position: relative;
          margin-left: 2.5rem;
          .nav__link {
            height: 5rem;
            display: flex;
            align-items: center;
            cursor: pointer;
            svg {
              width: 3rem;
              height: 3rem;
              path {
                fill: $white;
              }
            }
          }
          .user-layer {
            position: absolute;
            top: 5.5rem;
            left: 50%;
            margin-left: -1.1rem;
            width: 20rem;
            background: $white;
            border: 1px solid #d9d9d9;
            padding: 0 1rem;
            z-index: 10;
            opacity: 0;
            visibility: hidden;
            transition: $easing;
            &.show {
              top: 5rem;
              opacity: 1;
              visibility: visible;
            }
            .user-layer__row {
              padding: 1.5rem 0;
              font-size: 1.3rem;
              &:first-child {
                display: flex;
                .user-layer__column {
                  &:last-child {
                    align-self: center;
                    margin-left: 1rem
                  }
                  .user-layer__thumb {
                    display: block;
                    width: 4rem;
                    height: 4rem;
                    border-radius: 50%;
                    background: $blue;
                  }
                  .user-layer__info {
                    display: block;
                    line-height: 1.5rem;
                  }
                }
              }
              &:not(:last-child) {
                border-bottom: 1px solid $dark-grey;
              }
              .user-layer__link {
                display: flex;
                i {
                  font-size: 1.7rem;
                  margin-right: 1rem;
                  width: 4rem;
                  text-align: center;
                }
                span {
                  align-self: center;
                }
              }
            }
          }
        }
      }
    }
  }
}