.social-login {
  max-width: 32rem;
  width: 100%;
  button {
    width: 100%;
    display: flex;
    justify-content: center;
    color: $white;
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
    span {
      margin-right: 1rem;
      font-size: 2rem;
    }
  }
  .social-login__github {
    background-color: $black;
  }
  .social-login__facebook {
    background-color: #3a5998;
  }
}