/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 10px; }

html,
body {
  height: 100%; }

body {
  background-color: #f5f5f5;
  color: #444444;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px; }

main {
  width: 100%;
  max-width: 140rem;
  margin: 0 auto;
  min-height: 70vh; }

a {
  text-decoration: none;
  color: #444444; }

a:focus,
input:focus,
button:focus,
textarea:focus {
  outline: none; }

button,
input,
textarea {
  display: block;
  width: 40rem;
  height: 4rem;
  line-height: 4rem;
  -webkit-border-radius: 0.2rem;
     -moz-border-radius: 0.2rem;
          border-radius: 0.2rem;
  border: none;
  margin: 0.7rem auto;
  padding: 0rem 1rem;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.4rem;
  -webkit-box-shadow: 1px 3px 5px #dcdcdc;
     -moz-box-shadow: 1px 3px 5px #dcdcdc;
          box-shadow: 1px 3px 5px #dcdcdc; }
  button::-webkit-input-placeholder, input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7); }
  button:-moz-placeholder, input:-moz-placeholder, textarea:-moz-placeholder {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7); }
  button::-moz-placeholder, input::-moz-placeholder, textarea::-moz-placeholder {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7); }
  button:-ms-input-placeholder, input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7); }
  button::-ms-input-placeholder, input::-ms-input-placeholder, textarea::-ms-input-placeholder {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7); }
  button::placeholder,
  input::placeholder,
  textarea::placeholder {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7); }

.button__small {
  width: auto;
  padding: 0 1.5rem;
  height: 3.5rem;
  line-height: 3.5rem;
  font-size: 1.3rem; }

.button__small--bg {
  background-color: #2196F3;
  color: #fff; }

input[type="submit"],
button {
  cursor: pointer; }

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto; }

.header {
  background-color: red;
  width: 100%;
  height: 5rem;
  margin-bottom: 5rem; }
  .header .header__inner {
    display: grid;
    grid-template-columns: 22rem auto 22rem; }
    .header .header__inner .logo {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      height: 5rem;
      -webkit-box-align: center;
      -webkit-align-items: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .header .header__inner .logo .fa-youtube {
        color: #fff;
        font-size: 3.5rem; }
    .header .header__inner .search input {
      -webkit-box-shadow: none;
         -moz-box-shadow: none;
              box-shadow: none;
      margin: 0.5rem auto; }
    .header .header__inner .nav .nav__list {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      place-content: flex-end; }
      .header .header__inner .nav .nav__list .nav__item {
        position: relative;
        margin-left: 2.5rem; }
        .header .header__inner .nav .nav__list .nav__item .nav__link {
          height: 5rem;
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
             -moz-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          cursor: pointer; }
          .header .header__inner .nav .nav__list .nav__item .nav__link svg {
            width: 3rem;
            height: 3rem; }
            .header .header__inner .nav .nav__list .nav__item .nav__link svg path {
              fill: #fff; }
        .header .header__inner .nav .nav__list .nav__item .user-layer {
          position: absolute;
          top: 5.5rem;
          left: 50%;
          margin-left: -1.1rem;
          width: 20rem;
          background: #fff;
          border: 1px solid #d9d9d9;
          padding: 0 1rem;
          z-index: 10;
          opacity: 0;
          visibility: hidden;
          -webkit-transition: all 0.2s linear;
          -o-transition: all 0.2s linear;
          -moz-transition: all 0.2s linear;
          transition: all 0.2s linear; }
          .header .header__inner .nav .nav__list .nav__item .user-layer.show {
            top: 5rem;
            opacity: 1;
            visibility: visible; }
          .header .header__inner .nav .nav__list .nav__item .user-layer .user-layer__row {
            padding: 1.5rem 0;
            font-size: 1.3rem; }
            .header .header__inner .nav .nav__list .nav__item .user-layer .user-layer__row:first-child {
              display: -webkit-box;
              display: -webkit-flex;
              display: -moz-box;
              display: -ms-flexbox;
              display: flex; }
              .header .header__inner .nav .nav__list .nav__item .user-layer .user-layer__row:first-child .user-layer__column:last-child {
                -webkit-align-self: center;
                    -ms-flex-item-align: center;
                        align-self: center;
                margin-left: 1rem; }
              .header .header__inner .nav .nav__list .nav__item .user-layer .user-layer__row:first-child .user-layer__column .user-layer__thumb {
                display: block;
                width: 4rem;
                height: 4rem;
                -webkit-border-radius: 50%;
                   -moz-border-radius: 50%;
                        border-radius: 50%;
                background: #2196F3; }
              .header .header__inner .nav .nav__list .nav__item .user-layer .user-layer__row:first-child .user-layer__column .user-layer__info {
                display: block;
                line-height: 1.5rem; }
            .header .header__inner .nav .nav__list .nav__item .user-layer .user-layer__row:not(:last-child) {
              border-bottom: 1px solid #e7e7e7; }
            .header .header__inner .nav .nav__list .nav__item .user-layer .user-layer__row .user-layer__link {
              display: -webkit-box;
              display: -webkit-flex;
              display: -moz-box;
              display: -ms-flexbox;
              display: flex; }
              .header .header__inner .nav .nav__list .nav__item .user-layer .user-layer__row .user-layer__link i {
                font-size: 1.7rem;
                margin-right: 1rem;
                width: 4rem;
                text-align: center; }
              .header .header__inner .nav .nav__list .nav__item .user-layer .user-layer__row .user-layer__link span {
                -webkit-align-self: center;
                    -ms-flex-item-align: center;
                        align-self: center; }

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 10rem; }
  .footer .footer__logo i {
    font-size: 3.5rem;
    color: #979797; }
  .footer .footer__text {
    font-size: 1.4rem;
    line-height: 2.5rem;
    color: #979797; }

.form-container {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .form-container form {
    max-width: 32rem;
    width: 100%;
    margin-bottom: 4rem; }
    .form-container form input {
      display: block;
      width: 100%;
      padding: 1rem; }
      .form-container form input:not(:last-child) {
        margin-bottom: 2.5rem; }
      .form-container form input[type=file] {
        line-height: 1;
        background-color: #fff;
        font-size: 1.2rem; }
    .form-container form input[type="submit"] {
      background-color: #2196F3;
      color: #fff;
      line-height: 1; }
    .form-container form textarea {
      width: 100%;
      min-height: 15rem;
      margin-bottom: 2.5rem; }
  .form-container .form-container__link {
    display: block;
    max-width: 32rem;
    width: 100%; }
    .form-container .form-container__link button {
      width: 100%; }
    .form-container .form-container__link.form-container__link--delete button {
      background-color: #bb2f2a;
      color: #fff; }

.social-login {
  max-width: 32rem;
  width: 100%; }
  .social-login button {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #fff; }
    .social-login button:not(:last-child) {
      margin-bottom: 1.5rem; }
    .social-login button span {
      margin-right: 1rem;
      font-size: 2rem; }
  .social-login .social-login__github {
    background-color: #444444; }
  .social-login .social-login__facebook {
    background-color: #3a5998; }

.videoBlock video {
  width: 100%;
  margin-bottom: 1rem; }

.videoBlock .videoBlock__title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem; }

.videoBlock .videoBlock__views {
  font-size: 1.2rem; }

.home-videos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  grid-column-gap: 3rem;
  grid-row-gap: 4rem; }
  .home-videos .videoBlock:first-child, .home-videos .videoBlock:nth-child(2) {
    grid-column: span 3; }
  .home-videos .videoBlock:nth-child(1n+3) {
    grid-column: span 2; }

.video .video__player {
  width: 100%;
  margin-bottom: 3rem; }
  .video .video__player video {
    width: 100%; }

.video .video__info .info-top {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #d9d9d9; }
  .video .video__info .info-top .video__title {
    font-size: 1.8rem;
    margin: 0 0 1rem; }
  .video .video__info .info-top .video__views {
    color: #606060; }

.video .video__info .info-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }
  .video .video__info .info-bottom .info-left .video__description {
    font-size: 1.2rem; }
  .video .video__info .info-bottom .info-right {
    margin-left: auto; }
